<div class="container" style="height: 90vh;">
  <div class="row adaptive">
    <div class="col col-left">
      <div class="card w-100">
        <img src="https://sm.ign.com/ign_in/news/m/magic-the-/magic-the-gathering-artist-suspended-after-fan-art-plagiaris_56qh.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Последняя партия</h5>
          <div class="card-text">
            <div><strong class="text-primary">СОПЕРНИКИ </strong> ishao vs Terej</div>
            <div><strong class="text-primary">ПОБЕДИТЕЛЬ </strong> ishao </div>
            <br>
            <div><strong class="text-primary">КОЛОДА ishao </strong> GRIXIS CONTROL </div>
            <div><strong class="text-primary">КОЛОДА Terej </strong> ORZHOV AURA </div>
            <br>
            <div><strong class="text-primary">КОММЕНТАРИЙ ishao </strong> Отсутствует. </div>
            <div><strong class="text-primary">КОММЕНТАРИЙ Terej </strong> Отсутствует. </div>
          </div>
        </div>
      </div>
      <div class="card w-100">
        <div class="card-header">
          Новости
        </div>
        <div class="card-body">
          <h5 class="card-title">Камигава скоро выйдет в России</h5>
          <div class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam autem culpa ea, ex excepturi in incidunt laudantium libero nobis perferendis porro quae quaerat quam quia quidem reiciendis, reprehenderit. Alias corporis culpa deleniti, dicta esse est impedit rem sunt. A, aliquid amet, aperiam assumenda cum cumque deserunt dolores esse id in ipsam iure odio odit quaerat quod sed sequi veniam. Aspernatur culpa earum error est et ex inventore laborum mollitia nulla perspiciatis provident, quae quibusdam quisquam quo repellendus sint voluptas! Amet architecto commodi delectus ea eaque fugiat, ipsa labore quisquam sequi? Accusamus blanditiis commodi culpa dolore dolorum eos minima modi mollitia non rerum? Amet dolorum ducimus excepturi illo nobis provident quaerat reiciendis ullam? Animi distinctio dolor ea, esse et id iste maiores modi, natus neque, nesciunt numquam quis quisquam sint tempora totam vitae. A aliquid amet, architecto aut autem beatae consectetur delectus dignissimos dolorem doloremque et, eveniet exercitationem facere harum hic illum iure labore necessitatibus optio, provident quaerat quia quod quos reiciendis reprehenderit similique veritatis voluptatum. A cumque deleniti eum eveniet minima molestiae nam porro quas, quis sapiente. Aliquam amet beatae corporis cumque delectus enim et eveniet ex explicabo facilis ipsum iusto labore laborum nostrum optio pariatur, placeat suscipit velit voluptatibus!</div>
        </div>
      </div>
    </div>
    <div class="col col-right">
      <div class="card w-100">
        <img src="https://nerdist.com/wp-content/uploads/2020/10/The-Art-of-Magic-The-Gathering-War-of-Spark-cover-Featured.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Последнии партии</h5>
          <div class="card-text">
            <p><strong class="text-warning">2022-04-07 12:31:40</strong> ishao <strong class="text-secondary">(GRIXIS CONTROL)</strong> vs Terej <strong class="text-secondary">(ORZHOV AURA)</strong> <strong class="text-primary"> [ПРОСМОТРЕТЬ]</strong></p>
            <p><strong class="text-warning">2022-04-07 12:31:40</strong> ishao <strong class="text-secondary">(HIDDEN STRINGS)</strong> vs Terej <strong class="text-secondary">(MONOG RAMP)</strong> <strong class="text-primary"> [ПРОСМОТРЕТЬ]</strong></p>
          </div>
        </div>
      </div>
      <div class="card w-100">
        <img src="https://media.wizards.com/2019/images/daily/7ffVNoR57j.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Новички</h5>
          <div class="card-text">
            <p><strong class="text-danger">1) </strong> Terej <strong class="text-primary"> [ПРОСМОТРЕТЬ]</strong></p>
            <p><strong class="text-danger">1) </strong> ishao <strong class="text-primary"> [ПРОСМОТРЕТЬ]</strong></p>
          </div>
        </div>
      </div>
      <div class="card w-100">
        <img src="https://mtgazone.com/wp-content/uploads/2021/09/Lier-Disciple-of-the-Drowned-Innistrad-Midnight-Hunt-MtG-Art.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Лучшая колода недели</h5>
          <div class="card-text">
            Hidden Strings
          </div>
        </div>
      </div>
      <div class="card w-100">
        <img src="https://steemitimages.com/DQmepwdpYryTqEyo5GkpAQqnjD9dzucRGMMaPUcp1wykhuE/AJANI%20Goldmane%20justmousepixels%20step%2011.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Игрок недели</h5>
          <div class="card-text">
            ishao
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
