<div class="container">
  <div class="card w-100">
    <div class="card-body w-100" style="margin-left: auto; margin-right: auto">
      <form>
        <div class="accordion w-100" id="accordionExample">

          <div class="accordion-item w-100">
            <h2 class="accordion-header" id="headingTwo">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                Поиск по тексту на карте
              </button>
            </h2>
            <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <label for="name" class="form-label">Имя</label>
                <input type="text" class="form-control" id="name" name="name" [(ngModel)]="form.name" aria-describedby="emailHelp">

                <label for="text" class="form-label">Текстовая часть карты</label>
                <input type="text" class="form-control" id="text" name="text" [(ngModel)]="form.text" aria-describedby="emailHelp">
              </div>
            </div>
          </div>

          <div class="accordion-item w-100">
            <h2 class="accordion-header" id="headingThree">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                Поиск по мана-стоимости
              </button>
            </h2>
            <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <button class="btn btn-primary" type="button" (click)="setDefaultManaValue()">
                  Установить стандартное значение мана-стоимости
                </button>
                <br><br>

                <label for="mana_value_min" class="form-label">Минимальная мана-стоимость: <strong class="text-primary">{{form.mana_value_min}}</strong></label>
                <input type="range" class="form-range" id="mana_value_min" name="mana_value_min" [(ngModel)]="form.mana_value_min" aria-describedby="emailHelp" min="0" max="20" step="1">

                <label for="mana_value_max" class="form-label">Максимальная мана-стоимость: <strong class="text-primary">{{form.mana_value_max}}</strong></label>
                <input type="range" class="form-range" id="mana_value_max" name="mana_value_max" [(ngModel)]="form.mana_value_max" aria-describedby="emailHelp" min="0" max="20" step="1">
              </div>
            </div>
          </div>

          <div class="accordion-item w-100">
            <h2 class="accordion-header" id="headingFour">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                Поиск по типам карт
              </button>
            </h2>
            <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <input class="form-check-input" type="checkbox" value="" id="creatureCheck" name="Creature" [(ngModel)]="form.types.Creature">
                <label class="form-check-label" for="creatureCheck">Существо</label>

                <input class="form-check-input" type="checkbox" value="" id="landCheck" name="Land" [(ngModel)]="form.types.Land">
                <label class="form-check-label" for="landCheck">Земля</label>

                <input class="form-check-input" type="checkbox" value="" id="artifactCheck" name="Artifact" [(ngModel)]="form.types.Artifact">
                <label class="form-check-label" for="artifactCheck">Артефакт</label>

                <input class="form-check-input" type="checkbox" value="" id="enchantmentCheck" name="Enchantment" [(ngModel)]="form.types.Enchantment">
                <label class="form-check-label" for="enchantmentCheck">Снаряжение</label>

                <input class="form-check-input" type="checkbox" value="" id="planeswalkerCheck" name="Planeswalker" [(ngModel)]="form.types.Planeswalker">
                <label class="form-check-label" for="planeswalkerCheck">Мироходец</label>

                <input class="form-check-input" type="checkbox" value="" id="instantCheck" name="Instant" [(ngModel)]="form.types.Instant">
                <label class="form-check-label" for="instantCheck">Мгновенное заклинание</label>

                <input class="form-check-input" type="checkbox" value="" id="sorceryCheck" name="Sorcery" [(ngModel)]="form.types.Sorcery">
                <label class="form-check-label" for="sorceryCheck">Волшебство</label>
              </div>
            </div>
          </div>

          <div class="accordion-item w-100">
            <h2 class="accordion-header" id="headingFive">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFour">
                Поиск по цветам карты
              </button>
            </h2>
            <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <input class="form-check-input" type="checkbox" value="" id="whiteCheck" name="White" [(ngModel)]="form.colors.W">
                <label class="form-check-label" for="whiteCheck">Белый</label>

                <input class="form-check-input" type="checkbox" value="" id="blackCheck" name="Black" [(ngModel)]="form.colors.B">
                <label class="form-check-label" for="blackCheck">Черный</label>

                <input class="form-check-input" type="checkbox" value="" id="redCheck" name="Red" [(ngModel)]="form.colors.R">
                <label class="form-check-label" for="redCheck">Красный</label>

                <input class="form-check-input" type="checkbox" value="" id="greenCheck" name="Green" [(ngModel)]="form.colors.G">
                <label class="form-check-label" for="greenCheck">Зеленый</label>

                <input class="form-check-input" type="checkbox" value="" id="blueCheck" name="Blue" [(ngModel)]="form.colors.U">
                <label class="form-check-label" for="blueCheck">Синий</label>
              </div>
            </div>
          </div>
          <button class="btn btn-primary w-100" type="submit" (click)="search()"> Поиск </button>
        </div>
      </form>
    </div>
  </div>
  <div style="display: flex; flex-wrap: wrap; justify-content: center" *ngIf="cardsPull.results != []">
    <div *ngFor="let card of cardsPull.results">
      <div *ngIf="!card.manyFaces">
        <app-card [name]="card.name"
                  [text]="card.text"
                  [imgUrl]="card.imgUrl"
                  [usdPrice]="card.usdPrice"
                  [eurPrice]="card.eurPrice"
                  [tixPrice]="card.tixPrice"
                  [manyFaces]="card.manyFaces"
                  [types]="card.types"
                  [manaCost]="card.mana_cost"
                  [power]="card.power"
                  [loyalty]="card.loyalty"
                  [toughness]="card.toughness"
                  [id]="card.id"></app-card>
      </div>
      <div *ngIf="card.manyFaces">
        <app-card [name]="card.name"
                  [text]="card.text"
                  [imgUrl]="card.imgUrl"
                  [usdPrice]="card.usdPrice"
                  [eurPrice]="card.eurPrice"
                  [tixPrice]="card.tixPrice"
                  [manyFaces]="card.manyFaces"
                  [secondImgUrl]="card.secondImgUrl"
                  [secondText]="card.secondText"
                  [types]="card.types"
                  [manaCost]="card.mana_cost"
                  [power]="card.power"
                  [loyalty]="card.loyalty"
                  [toughness]="card.toughness"></app-card>
      </div>
    </div>
  </div>
  <div *ngIf="ERROR_MESSAGE_404">
    <div class="card w-100">
      <div class="card-body">
        <h3 class="card-title">По вашему запросу ничего не найдено</h3>
      </div>
    </div>
  </div>
  <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups" style="margin-bottom: 20px; margin-top: 20px">
    <div class="btn-group me-2" role="group" aria-label="First group">
      <button type="button" class="btn btn-primary" *ngIf="previousPage" (click)="previousPageGo()">{{"<"}}</button>
      <button type="button" class="btn btn-primary">{{actualPage}}</button>
      <button type="button" class="btn btn-primary" *ngIf="nextPage" (click)="nextPageGo()">{{">"}}</button>
    </div>
    <div class="btn-group me-2" role="group" aria-label="Second group">
        <button type="button" class="btn btn-secondary" (click)="choicePageGo()">Перейти на страницу</button>
        <input type="number" id="inputNumber" class="form-control" style="max-width: 60px" [(ngModel)]="myPage" name="myPage">
    </div>
  </div>
</div>
