<div class="container">
  <div style="display: flex; flex-wrap: wrap; justify-content: center" *ngIf="cardsPull.results != []">
    <div *ngFor="let card of cardsPull.results">
      <div *ngIf="!card.manyFaces">
        <app-card [name]="card.name"
                  [text]="card.text"
                  [imgUrl]="card.imgUrl"
                  [usdPrice]="card.usdPrice"
                  [eurPrice]="card.eurPrice"
                  [tixPrice]="card.tixPrice"
                  [manyFaces]="card.manyFaces"></app-card>
      </div>
      <div *ngIf="card.manyFaces">
        <app-card [name]="card.name"
                  [text]="card.text"
                  [imgUrl]="card.imgUrl"
                  [usdPrice]="card.usdPrice"
                  [eurPrice]="card.eurPrice"
                  [tixPrice]="card.tixPrice"
                  [manyFaces]="card.manyFaces"
                  [secondImgUrl]="card.secondImgUrl"
                  [secondText]="card.secondText" ></app-card>
      </div>
    </div>
  </div>
  <div *ngIf="ERROR_MESSAGE_404">
    <div class="card w-100">
      <div class="card-body">
        <h3 class="card-title">По вашему запросу ничего не найдено</h3>
      </div>
    </div>
  </div>
  <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups" style="margin-bottom: 20px; margin-top: 20px">
    <div class="btn-group me-2" role="group" aria-label="First group">
      <button type="button" class="btn btn-primary" *ngIf="previousPage" (click)="previousPageGo()">{{"<"}}</button>
      <button type="button" class="btn btn-primary">{{actualPage}}</button>
      <button type="button" class="btn btn-primary" *ngIf="nextPage" (click)="nextPageGo()">{{">"}}</button>
    </div>
    <div class="btn-group me-2" role="group" aria-label="Second group">
        <button type="button" class="btn btn-secondary" (click)="choicePageGo()">Перейти на страницу</button>
        <input type="number" id="inputNumber" class="form-control" style="max-width: 60px" [(ngModel)]="myPage" name="myPage">
    </div>
  </div>
</div>
