<div class="container">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card" style="border-radius: 1rem;">
          <img src="https://media.magic.wizards.com/images/hero/xvmdvx5hzn_icon.jpg" class="card-img-top" alt="...">
          <div class="card-body p-5 text-center">

            <div class="mb-md-5 mt-md-4 pb-5">

              <h2 class="fw-bold mb-2 text-uppercase">Вход</h2>
              <p class="text-50 mb-5">Пожалуйста, введите вашу почту и пароль</p>

              <div class="form-outline form-white mb-4">
                <input type="email" id="typeEmailX" class="form-control form-control-lg" [(ngModel)]="form.email"
                       [ngClass]="{'is-invalid': FAIL_LOGIN}"/>
                <label class="form-label" for="typeEmailX">Email</label>
              </div>

              <div class="form-outline form-white mb-4">
                <input type="password" id="typePasswordX" class="form-control form-control-lg" [(ngModel)]="form.password"
                       [ngClass]="{'is-invalid': FAIL_LOGIN}"/>
                <label class="form-label" for="typePasswordX">Пароль</label>
                <div class="invalid-feedback" *ngIf="FAIL_LOGIN">
                  Пароль обязателен к заполнению
                </div>
              </div>

              <p class="small mb-5 pb-lg-2"><a class="text-50" href="">Забыли пароль?</a></p>

              <button class="btn btn-lg px-5 btn-outline-primary" type="submit" (click)="login()">Войти</button>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>

