<div class="container">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card" style="border-radius: 1rem;">
          <img src="http://cdn23.us1.fansshare.com/photos/magicthegathering/magic-the-gathering-fantasy-art-artwork-jace-beleren-mtg-magic-the-gathering-art-2065594531.jpg" class="card-img-top" alt="...">
          <div class="card-body p-5 text-center">

            <div class="mb-md-5 mt-md-4 pb-5">

              <h2 class="fw-bold mb-2 text-uppercase">Регистрация</h2>
              <p class="text-50 mb-5">Создайте свой аккаунт</p>

              <div class="form-outline form-white mb-4">
                <input type="email" id="typeNick" class="form-control form-control-lg" />
                <label class="form-label" for="typeNick">Никнейм</label>
              </div>

              <div class="form-outline form-white mb-4">
                <input type="email" id="typeFirstName" class="form-control form-control-lg" />
                <label class="form-label" for="typeFirstName">Имя</label>
              </div>

              <div class="form-outline form-white mb-4">
                <input type="email" id="typeLastName" class="form-control form-control-lg" />
                <label class="form-label" for="typeLastName">Фамилия</label>
              </div>

              <div class="form-outline form-white mb-4">
                <input type="email" id="typeEmail" class="form-control form-control-lg" />
                <label class="form-label" for="typeEmail">Email</label>
              </div>

              <div class="form-outline form-white mb-4">
                <input type="password" id="typePassword" class="form-control form-control-lg" />
                <label class="form-label" for="typePassword">Пароль</label>
              </div>

              <div class="form-outline form-white mb-4">
                <input type="password" id="typeRepeatPassword" class="form-control form-control-lg" />
                <label class="form-label" for="typeRepeatPasswordX">Повторите пароль</label>
              </div>

              <button class="btn btn-lg px-5 btn-outline-primary" type="submit">Войти</button>

            </div>


          </div>
        </div>
      </div>
    </div>
  </div>
</div>
