<div class="container">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card" style="border-radius: 1rem;" *ngIf="!isRegistrated">
          <img src="http://cdn23.us1.fansshare.com/photos/magicthegathering/magic-the-gathering-fantasy-art-artwork-jace-beleren-mtg-magic-the-gathering-art-2065594531.jpg" class="card-img-top" alt="...">
          <div class="card-body p-5 text-center">

            <div class="mb-md-5 mt-md-4 pb-5">

              <h2 class="fw-bold mb-2 text-uppercase">Регистрация</h2>
              <p class="text-50 mb-5">Создайте свой аккаунт</p>

              <div class="form-outline form-white mb-4">
                <input type="email" id="typeNick" class="form-control form-control-lg" [(ngModel)]="form.username"
                       [ngClass]="{'is-invalid': warnings.requiredNickname || warnings.uniqueNickname}"/>
                <label class="form-label" for="typeNick">Никнейм</label>
                <div class="invalid-feedback" *ngIf="warnings.requiredNickname">
                  Никнейм обязателен к заполнению
                </div>
                <div class="invalid-feedback" *ngIf="warnings.uniqueNickname">
                  Никнейм уже занят
                </div>
              </div>

              <div class="form-outline form-white mb-4">
                <input type="email" id="typeFirstName" class="form-control form-control-lg" [(ngModel)]="form.first_name"
                       [ngClass]="{'is-invalid': warnings.requiredFirstName}" />
                <label class="form-label" for="typeFirstName">Имя</label>
                <div class="invalid-feedback" *ngIf="warnings.requiredFirstName">
                  Имя обязательно к заполнению
                </div>
              </div>

              <div class="form-outline form-white mb-4">
                <input type="email" id="typeLastName" class="form-control form-control-lg" [(ngModel)]="form.last_name"
                       [ngClass]="{'is-invalid': warnings.requiredLastName}" />
                <label class="form-label" for="typeLastName">Фамилия</label>
                <div class="invalid-feedback" *ngIf="warnings.requiredLastName">
                  Фамилия обязательна к заполнению
                </div>
              </div>

              <div class="form-outline form-white mb-4">
                <input type="email" id="typeEmail" class="form-control form-control-lg" [(ngModel)]="form.email"
                       [ngClass]="{'is-invalid': warnings.requiredEmail || warnings.uniqueEmail || warnings.incorrectEmail}"/>
                <label class="form-label" for="typeEmail">Email</label>
                <div class="invalid-feedback" *ngIf="warnings.requiredEmail">
                  Email обязательно к заполнению
                </div>
                <div class="invalid-feedback" *ngIf="warnings.uniqueEmail">
                  Email уже занят
                </div>
                <div class="invalid-feedback" *ngIf="warnings.incorrectEmail">
                  Email не соответствует принятому виду
                </div>
              </div>

              <div class="form-outline form-white mb-4">
                <input type="password" id="typePassword" class="form-control form-control-lg" [(ngModel)]="form.password"
                       [ngClass]="{'is-invalid': warnings.requiredPassword}"/>
                <label class="form-label" for="typePassword">Пароль</label>
                <div class="invalid-feedback" *ngIf="warnings.uniqueEmail">
                  Пароль обязателен к заполнению
                </div>
              </div>

              <div class="form-outline form-white mb-4">
                <input type="password" id="typeRepeatPassword" class="form-control form-control-lg" [(ngModel)]="form.retryPassword"
                       [ngClass]="{'is-invalid': warnings.retryPasswordIncorrect}"/>
                <label class="form-label" for="typeRepeatPassword">Повторите пароль</label>
                <div class="invalid-feedback" *ngIf="warnings.retryPasswordIncorrect">
                  Пароли должны совпадать
                </div>
              </div>

              <button class="btn btn-lg px-5 btn-outline-primary" type="submit" (click)="putForm()" style="margin-bottom: 20px;">СОЗДАТЬ</button>

            </div>


          </div>
        </div>

        <div class="alert alert-success" role="alert" *ngIf="isRegistrated">
          <h4 class="alert-heading">Успешная регистрация!</h4>
          <p>Вы успешно прошли регистрацию! В течении ближайшего времени на почту {{form.email}} будет письмо для активации вашего аккаунта</p>
          <hr>
          <p class="mb-0">После перехода по ссылке из письма вы сможете войти в ваш новосозданный аккаунт</p>
        </div>

      </div>
    </div>
  </div>
</div>
