<nav class="navbar navbar-expand-lg navbar-light bg-light active">
  <div class="container-fluid" style="width: 100%; max-width: 1200px; margin-left: auto; margin-right: auto">
    <a class="navbar-brand" href="">MTG LADDER</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="">Главная страница</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="search-navbar" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Поиск
          </a>
          <ul class="dropdown-menu" aria-labelledby="search-navbar">
            <li><a class="dropdown-item" href="#">Игроки</a></li>
            <li><a class="dropdown-item" href="#">Матчи</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="rating-navbar" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Рейтинг
          </a>
          <ul class="dropdown-menu" aria-labelledby="rating-navbar">
            <li><a class="dropdown-item" href="#">Формат "Пионер"</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="news-navbar" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Новости
          </a>
          <ul class="dropdown-menu" aria-labelledby="news-navbar">
            <li><a class="dropdown-item" href="#">Новые выпуски</a></li>
            <li><a class="dropdown-item" href="#">Новости мира Magic The Gathering</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Обновление веб-приложения</a></li>
            <li><a class="dropdown-item" href="#">Объявление турнира</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="deck-navbar" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Колоды
          </a>
          <ul class="dropdown-menu" aria-labelledby="deck-navbar">
            <li><a class="dropdown-item" href="#">Meta-deck "Пионер"</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Новинки формата "Пионер"</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a href="cards" class="nav-link"> База карт </a>
        </li>
        <li class="nav-item dropdown active">
          <a class="nav-link dropdown-toggle " href="#" id="user-navbar" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-person" viewBox="0 0 16 16">
              <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z"/>
            </svg>
          </a>
          <ul class="dropdown-menu" aria-labelledby="user-navbar">
            <li *ngIf="session != ''"><a class="dropdown-item" href="#">Профиль</a></li>
            <li *ngIf="session != ''"><a class="dropdown-item" href="#">Сообщить о победе</a></li>
            <li *ngIf="session != ''"><a class="dropdown-item" href="#">Добавить колоду</a></li>
            <li *ngIf="session != ''"><hr class="dropdown-divider"></li>
            <li *ngIf="session != ''"><a class="dropdown-item" href="logout">Выйти</a></li>
            <li *ngIf="session == ''"><a class="dropdown-item" href="login">Войти</a></li>
            <li *ngIf="session == ''"><a class="dropdown-item" href="registration">Регистрация</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
