body {
  overflow: hidden;
}

/*Убрать полосу прокрутки для всей страницы*/
::-webkit-scrollbar {
  width: 0;
}

.navbar {
  position: fixed;
}
.col {
  height: calc(100vh - 60px);
  overflow: auto;
}
.col-left {
  margin-right: 2%;
}
.col-right {
  margin-left: 2%;
}
.row {
  height: 100vh;
  overflow: hidden;
}
.card {
  margin-bottom: 20px;
}

.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
@media screen and (max-width: 900px) {
  .col {
    height: auto;
    width: 98%;
    margin: 0 0 20px 0;
  }
  .adaptive {
    justify-content: center;
    flex-direction: column;
    height: auto;
  }
  body {
    overflow: auto;
  }
}
