<div class="card w-100" style="max-width: 400px; margin-right: 20px; margin-bottom: 20px">
  <div *ngIf="!manyFaces">
    <img [src]="imgUrl" class="card-img-top" alt="..." loading="lazy">
  </div>
  <div *ngIf="manyFaces">
    <img [src]="imgUrl" class="card-img-top w-100" alt="..." loading="lazy" *ngIf="firstFace">
    <img [src]="secondImgUrl" class="card-img-top w-100" alt="..." loading="lazy" *ngIf="!firstFace">
    <button class="btn btn-primary w-100" type="submit" (click)="toggleFace()" style="margin-top: 10px;"> Перевернуть </button>
  </div>
  <div class="card-body">
    <h5 class="card-title">{{name}}</h5>
    <div class="card-text">
      <div [innerHTML]="manaCost | card_text"></div>
      <small class="text-secondary">{{types}}</small>
      <div [innerHTML]="text | card_text"></div>
      <br>
      <div *ngIf="manyFaces" [innerHTML]="secondText | card_text"></div>
      <span class="badge bg-primary" style="margin-right: 20px">{{tixPrice}} TIX</span>
      <span class="badge bg-secondary" style="margin-right: 20px">{{eurPrice}} EUR</span>
      <span class="badge bg-success">{{usdPrice}} USD</span>
    </div>
  </div>
</div>
