<div class="card w-100" style="max-width: 400px; margin-right: 20px; margin-bottom: 20px">
  <div *ngIf="!manyFaces">
    <img [src]="imgUrl" class="card-img-top" alt="..." loading="lazy">
  </div>
  <div *ngIf="manyFaces">
    <img [src]="imgUrl" class="card-img-top w-100" alt="..." loading="lazy" *ngIf="firstFace">
    <img [src]="secondImgUrl" class="card-img-top w-100" alt="..." loading="lazy" *ngIf="!firstFace">
    <button class="btn btn-primary w-100" type="submit" (click)="toggleFace()" style="margin-top: 10px;"> Перевернуть </button>
  </div>
  <div class="card-body">
    <h5 class="card-title" style="display: inline-block">{{name}}&nbsp;</h5>
    <!-- Выносливость/сила -->
    <h5 *ngIf="toughness != undefined" style="text-align: right; display: inline-block" class="text-secondary">&nbsp;{{power}}/{{toughness}}</h5>
    <!-- Очки лояльности -->
    <h5 *ngIf="loyalty != undefined" style="text-align: right; display: inline-block" class="text-secondary">&nbsp;{{loyalty}}</h5>
    <div class="card-text">
      <!-- Информация о мана косте -->
      <div [innerHTML]="manaCost | card_text"></div>
      <!-- Тип -->
      <small class="text-secondary">{{types}}</small>
      <!-- Текст -->
      <div [innerHTML]="text | card_text"></div>
      <!-- Второй Текст -->
      <div *ngIf="manyFaces" [innerHTML]="secondText | card_text"></div>
      <!-- Цены -->
      <span class="badge bg-primary" style="margin-right: 20px">{{tixPrice}} TIX</span>
      <span class="badge bg-secondary" style="margin-right: 20px">{{eurPrice}} EUR</span>
      <span class="badge bg-success">{{usdPrice}} USD</span>
      <!-- Свод правил -->
      <div class="accordion w-100" id="accordionExample" style="margin-top: 20px;">
        <div class="accordion-item w-100">
          <h2 class="accordion-header" id="heading{{id}}">
            <button (click)="getRules()" class="accordion-button collapsed" type="button" data-bs-toggle="collapse" [attr.data-bs-target]="'#collapse' + id" aria-expanded="false" [attr.aria-controls]="'collapse' + id">
              Правила для карты
            </button>
          </h2>
          <div id="collapse{{id}}" class="accordion-collapse collapse" [attr.aria-labelledby]="'heading' + id" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <div *ngFor="let rule of rules">
                <div style="margin-bottom: 20px"><strong class="text-secondary">{{rule.date}}</strong> {{rule.text}}</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
